<section class="components">
  <div class="container">
      <h2 class="components__title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
  <p class="components__subtitle">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.  </p>
  <ul class="components__list">
    <li class="components__item">
      <a class="components__link" href="">
        <div class="components__container__img">
          <img class="components__img"
          srcset="./images/components/components1@2x.png 2x"
          src="./images/components/components1.png"
          alt="milk chocolate"
        />
        <p class="components__item__text even">milk chocolate</p>
      </div>
      <div class="overlay__section">
        <h3 class="overlay__section__title">Milk chocolate</h3>
        <ul class="overlay__section__list">
          <li class="overlay__section__item main-button">chocolate</li>
          <li class="overlay__section__item second-button">the benefits</li>
        </ul>
        <p class="overlay__section__text">
          Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.
        </p>
      </div>    
      </a>
    </li>
    <li class="components__item">
      <a class="components__link" href="">
        <div class="components__container__img">
            <img class="components__img"
            srcset="./images/components/components2@2x.png 2x"
            src="./images/components/components2.png"
            alt="bouttle of milk"
          />
          <p class="components__item__text">Milk</p>
        </div>
        <div class="overlay__section">
          <h3 class="overlay__section__title">Milk</h3>
          <ul class="overlay__section__list">
            <li class="overlay__section__item main-button">Milk</li>
            <li class="overlay__section__item second-button">the benefits</li>
          </ul>
          <p class="overlay__section__text first-item">
            Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.                  </p>
        </div>      
      </a>
    </li>
    <li class="components__item">
      <a class="components__link" href="">
        <div class="components__container__img">
            <img class="components__img"
            srcset="./images/components/components3@2x.png 2x"
            src="./images/components/components3.png"
            alt="Nuts"
          />
          <p class="components__item__text even">nuts</p>
        </div>
        <div class="overlay__section">
          <h3 class="overlay__section__title">nuts</h3>
          <ul class="overlay__section__list">
            <li class="overlay__section__item main-button">nuts</li>
            <li class="overlay__section__item second-button">the benefits</li>
          </ul>
          <p class="overlay__section__text first-item">
            Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.                  </p>
        </div>      
      </a>
    </li>
    <li class="components__item">
      <a class="components__link" href="">
        <div class="components__container__img">
            <img class="components__img"
            srcset="./images/components/components4@2x.png 2x"
            src="./images/components/components4.png"
            alt="Chocolate"
          />
          <p class="components__item__text">SEMI - SWEET CHOCOLATE</p>
        </div>
        <div class="overlay__section">
          <h3 class="overlay__section__title">SEMI-SWEET CHOCOLATE</h3>
          <ul class="overlay__section__list">
            <li class="overlay__section__item main-button">sweet chocolate</li>
            <li class="overlay__section__item second-button">the benefits</li>
          </ul>
          <p class="overlay__section__text last-item">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.                  </p>
        </div>    
  
      </a>
    </li>
  </ul>
  </div>
</section>
