<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__container">
      <h2 class="footer__headline">
        <span class="footer__headlinepart">Chocolate</span> a delicious cure for
        a bad day
      </h2>
      <div class="footer__contactsmediacontainer">
        <div class="footer__contacts">
          <h3 class="footer__contacts__headline">Contact us</h3>
          <address>
            <ul class="footer__contactslink">
              <li>
                <a class="footer__link" href="tel:+380684439426"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li>
                <a class="footer__link" href="mailto:simplychoc@gmail.com"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div class="footer__socialnetworks">
          <ul class="footer__sociallist">
            <li class="">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noreferrer noopener"
                class="footer__sociallist__link"
              >
                <svg class="footer__icon" aria-label="icon of instagram">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>

            <li class="">
              <a
                href="https://www.twitter.com/"
                target="_blank"
                rel="noreferrer noopener"
                class="footer__sociallist__link"
              >
                <svg class="footer__icon" aria-label="icon of twitter">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="footer__navigation">
      <ul class="footer__nav__list">
        <li>
          <a href="#hero" class="footer__nav__link">Home</a>
        </li>
        <li>
          <a href="#made" class="footer__nav__link">How it's made?</a>
        </li>
        <li>
          <a href="#products" class="footer__nav__link">Our products</a>
        </li>
        <li>
          <a href="#sellers" class="footer__nav__link">Top sellers</a>
        </li>
        <li>
          <a href="#reviews" class="footer__nav__link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
