<header class="header">
  <!-------------------------------------------------- HEADER 1----------------------------------------------------------->
  <div class="container page-header">
    <nav class="header-nav">
      <a href="../index.html" class="head-logo">
        <div class="head-logo-div">
          <span class="head-logo-text"><span class="head-logo-italic">SIMPLY&nbsp;</span>CHOCOLATE</span>
          <svg class="logo-icon" width="21" height="21">
            <use href="../images/sprite.svg#icon-logo"></use>
          </svg>
        </div>
      </a>
      <ul class="header-nav-list">
        <li>
          <a class="header-list-item" href="./header.html">Home</a>
        </li>
        <li>
          <a class="header-list-item" href="./made.html">How it's made?</a>
        </li>
        <li>
          <a class="header-list-item" href="./products.html">Our products</a>
        </li>
        <li>
          <a  class="header-list-item" href="./sellers.html">Top sellers</a>
        </li>
        <li>
          <a class="header-list-item" href="./reviews.html">Chocolate is loved</a>
        </li>
      </ul>
      </nav>
      <ul class="header-icon-list">
        <li>
          <a class="header-icon-list-item" href="#">
            <svg class="header-links" width="24" height="24">
              <use href="../images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="header-icon-list-item" href="#">
            <svg class="header-links" width="24" height="24">
              <use href="../images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
  <button class="burger-button js-open-menu" type="button" >
    <svg class="burger-svg">
      <use href="../images/sprite.svg#icon-burger"></use>
    </svg>
  </button>
  </div>
  <!------------------------------------------------- /HEADER 1----------------------------------------------------------->
  <!-------------------------------------------------- HEADER 2----------------------------------------------------------->
  <div class="head-mobile-menu js-menu-container">
    <button class="head-menu-close js-close-menu" type="button">
      <svg class="head-menu-close-buttom">
        <use href="../images/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
    <ul class="head-menu-list">
      <li><a class="head-menu-item" href="./made.html">Home</a></li>
      <li><a class="head-menu-item" href="./header.html">How it's made?</a></li>
      <li><a class="head-menu-item" href="./products.html">Our products</a></li>
      <li><a class="head-menu-item" href="./sellers.html">Top sellers</a></li>
      <li><a class="head-menu-item" href="./reviews.html">Chocolate is loved</a></li>
    </ul>
    <ul class="header-menu-icon-list">
      <li>
        <a class="header-menu-icon" href="#">
          <svg class="header-menu-icon-item" width="22" height="22">
            <use href="../images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="header-menu-icon" href="#">
          <svg class="header-menu-icon-item" width="20" height="20">
            <use href="../images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
<script src="../js/mobile-modal.js"></script>