<section class="hero">

    <div class="container">
      <div class="hero_inner">
              <h1 class="visually-hidden">hero</h1>
              <h2 class="hero_title">
                Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
              </h2>
              <div class="hero_action">
                <div class="hero_buttons_block">
                  <button class="hero_buy_btn hero_button" type="button">Buy now</button>
                  <button class="hero_description_btn hero_button" type="button">How it’s made</button>
                </div>
                <div class="hero_scroll">
                  <a class="hero_scroll_btn link" href="#">
                    <p class="hero_text">scroll down</p>
                  <div class="hero_icon-block">
                      <svg class="hero_scroll_icon" width="28" height="28">
                        <use href="./images/sprite.svg#icon-arrow-bottom"></use>
                      </svg>
                  </div>
                  </a>
                </div>
              </div>

      </div>

    </div>

</section>