<section id="made" class="made">
  <div class="container">
    <h2 class="made__title">How it's <span class="made-span">made?</span></h2>
    <div class="made__about">
      <iframe
        class="made__frame"
        src="https://www.youtube.com/embed/rIQGMuWdGeM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="made__try">
        <h3 class="made__try__title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="made__try__list list">
          <li class="try__mark">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="try__mark">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="try__mark">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="try__mark">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="try__mark">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
          <li class="try__mark">
            Add ingredients suth as mint, berries, nuts. Enjoy a chocolate
            fantasy with coffee!!!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
