<section id="products" class="products">
  <div class="container">
    <h2 class="products__title">Our&nbsp;<span>PRODUCTS</span></h2> 
    <ul class="products__list list"> 
      <li class="products__item products__orange">
        <div class="products__box">
          <img class="products__img"  
                    srcset="./images/products/orange_d@2x.jpg 2x"
                    src="./images/products/orange_d.jpg" 
                    alt="orange"
                    width="230"
                    height="201">
          <h3 class="products__subtitle">orange</h3>
          <p class="products__desc">Dark chocolate</p>
          <button class="products__btn" type="button">45 UAH</button>
        </div>
      </li>
      <li class="products__item products__applegranberry">
        <div class="products__box">
          <img class="products__img" 
                    srcset="./images/products/applegranberry_d@2x.jpg 2x"
                    src="./images/products/applegranberry_d.jpg"  
                    alt="APPLE&CRANBERRY"
                    width="230" 
                    height="201">
          <h3 class="products__subtitle">APPLE&CRANBERRY</h3>
          <p class="products__desc">Milk chocolate</p>
          <button class="products__btn" type="button">50 UAH</button> 
        </div>
      </li>
      <li class="products__item products__limesalt">
        <div class="products__box">
          <img class="products__img" 
                    srcset="./images/products/limesalt_d@2x.jpg 2x"
                    src="./images/products/limesalt_d.jpg"  
                    alt="lime&sea salt"
                    width="230"
                    height="201">
          <h3 class="products__subtitle">lime&sea salt</h3>
          <p class="products__desc">Dark chocolate</p>
          <button class="products__btn" type="button">66 UAH</button>
        </div>
      </li>
      <li class="products__item products__pineapple">
        <div class="products__box">
          <img class="products__img" 
                    srcset="./images/products/pineapple_d@2x.jpg 2x"
                    src="./images/products/pineapple_d.jpg" 
                    alt="pineapple"
                    width="230"
                    height="201">
          <h3 class="products__subtitle">pineapple</h3>
          <p class="products__desc">Dark chocolate</p>
          <button class="products__btn" type="button">54 UAH</button>
        </div>
      </li>
      </div>
      </li> 
    </ul>
  </div>
</section>
