<section class="products">
  <div class="container">
    <h2 class="products__title">Our pRODUCTS</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__box">
          <img class="products__img" 
                    srcset=" 1x,
                             2x"
                    src="" 
                    alt=""
                    width=""
                    height="">
          <h3 class="products__subtitle">orange</h3>
          <p class="products__desc">Dark chocolate</p>
          <button class="products__btn" type="button">45 UAH</button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <img class="products__img" 
                    srcset=" 1x,
                             2x"
                    src="" 
                    alt=""
                    width=""
                    height="">
          <h3 class="products__subtitle">APPLE&CRANBERRYe</h3>
          <p class="products__desc">Milk chocolate</p>
          <button class="products__btn" type="button">50 UAH</button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <img class="products__img" 
                    srcset=" 1x,
                             2x"
                    src="" 
                    alt=""
                    width=""
                    height="">
          <h3 class="products__subtitle">lime&sea salt</h3>
          <p class="products__desc">Dark chocolate</p>
          <button class="products__btn" type="button">66 UAH</button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <img class="products__img" 
                    srcset=" 1x,
                             2x"
                    src="" 
                    alt=""
                    width=""
                    height="">
          <h3 class="products__subtitle">pineapple</h3>
          <p class="products__desc">Dark chocolate</p>
          <button class="products__btn" type="button">54 UAH</button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <img class="products__img" 
                    srcset=" 1x,
                             2x"
                    src="" 
                    alt=""
                    width=""
                    height="">
          <h3 class="products__subtitle">Classic</h3>
          <p class="products__desc">Milk chocolate</p>
          <button class="products__btn" type="button">45 UAH</button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <img class="products__img" 
                    srcset=" 1x,
                             2x"
                    src="" 
                    alt=""
                    width=""
                    height="">
          <h3 class="products__subtitle">honey</h3>
          <p class="products__desc">Milk chocolate</p>
          <button class="products__btn" type="button">50 UAH</button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <img class="products__img" 
                    srcset=" 1x,
                             2x"
                    src="" 
                    alt=""
                    width=""
                    height="">
          <h3 class="products__subtitle">Roasted fruits</h3>
          <p class="products__desc">Dark chocolate</p>
          <button class="products__btn" type="button">66 UAH</button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <img class="products__img" 
                    srcset=" 1x,
                             2x"
                    src="" 
                    alt="" 
                    width=""
                    height="">
          <h3 class="products__subtitle">Classic</h3>
          <p class="products__desc">White chocolate</p>
          <button class="products__btn" type="button">54 UAH</button>
        </div>
      </li>
    </ul>
  </div>
</section>
