<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews__title">
      <span class="reviews__title-accent">Chocolate&nbsp;</span>is loved
    </h2>
    <ul class="reviews__list">
      <li class="reviews__item reviews-victoria">
        <img
          class="reviews__img"
          srcset="./images/reviews/victoria@2x.png 2x"
          s rc="./images/reviews/victoria.png"
          alt="customer woman images"
        />
        <h3 class="reviews__name">Victoria Dobrzhanska</h3>
        <div class="reviews__comment">
          <p class="reviews__comment-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviews__item reviews-nazar">
        <img
          class="reviews__img"
          srcset="./images/reviews/nazar@2x.png 2x"
          src="./images/reviews/nazar.png"
          alt="customer man images"
        />
        <h3 class="reviews__name">Nazar Babenko</h3>
        <div class="reviews__comment">
          <p class="reviews__comment-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="reviews__item reviews-olena">
        <img
          class="reviews__img"
          srcset="./images/reviews/olena@2x.png 2x"
          src="./images/reviews/olena.png"
          alt="customer woman images"
        />
        <h3 class="reviews__name">Olena Kampusch</h3>
        <div class="reviews__comment">
          <p class="reviews__comment-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <button class="reviews__button" type="button">Leave a review</button>
  </div>
</section>
