<section id="sellers" class="sellers">
  <div class="container">
    <h2 class="sellers__title">
      <span class="sellers__title__action">Top&nbsp;</span>Sellers
    </h2>
    <ul class="sellers__list list">
      <li class="sellers__item">
        <picture class="sellers__picture">
          <source
            srcset="
              ./images/sellers/img-top-desktop1.webp    1x,
              ./images/sellers/img-top-desktop1@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/sellers/img-top-desktop1.jpg    1x,
              ./images/sellers/img-top-desktop1@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sellers/img-top-tablet1.webp    1x,
              ./images/sellers/img-top-tablet1@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/sellers/img-top-tablet1.jpg    1x,
              ./images/sellers/img-top-tablet1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sellers/img-top-mobile1.webp    1x,
              ./images/sellers/img-top-mobile1@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/sellers/img-top-mobile1.jpg    1x,
              ./images/sellers/img-top-mobile1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sellers__img"
            src="./images/sellers/img-top-mobile1.jpg"
            alt="Coffee beans, chocolate, hazelnuts are scattered on the table."
          />
        </picture>

        <p class="sellers__text__action">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers__item">
        <picture class="sellers__picture">
          <source
            srcset="
              ./images/sellers/img-top-desktop2.webp    1x,
              ./images/sellers/img-top-desktop2@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/sellers/img-top-desktop2.jpg    1x,
              ./images/sellers/img-top-desktop2@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sellers/img-top-tablet2.webp    1x,
              ./images/sellers/img-top-tablet2@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/sellers/img-top-tablet2.jpg    1x,
              ./images/sellers/img-top-tablet2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sellers/img-top-mobile2.webp    1x,
              ./images/sellers/img-top-mobile2@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/sellers/img-top-mobile2.jpg    1x,
              ./images/sellers/img-top-mobile2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sellers__img"
            src="./images/sellers/img-top-mobile2.jpg"
            alt="Milk chocolate bar."
          />
        </picture>
      </li>
      <li class="sellers__item sellers__item__action">
        <picture class="sellers__picture">
          <source
            srcset="
              ./images/sellers/img-top-desktop3.webp    1x,
              ./images/sellers/img-top-desktop3@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/sellers/img-top-desktop3.jpg    1x,
              ./images/sellers/img-top-desktop3@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="sellers__img"
            src="./images/sellers/img-top-desktop3.jpg"
            alt="Chocolate pyramid."
          />
        </picture>
      </li>
    </ul>
    <div class="sellers__item__info">
      <p class="sellers__text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="sellers__button" type="button">Buy now</button>
    </div>
  </div>
</section>
