.section {
    padding: 72px 0;
}
@media screen and (min-width:1200px) {
    .section {
        padding: 128px 0;
    }
}

.components-title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.03em;
}
@media screen and (min-width:768px) {
    .components-title {
        margin-bottom: 28px;
        max-width:411px;
        margin-left: auto;
        margin-right: auto;
    }
}

.components-title>span {
    color: var(--c-accent);
}

.components-subtitle {
    margin-bottom: 32px;

    text-align: center;
    letter-spacing: -0.02em;
}
@media screen and (min-width:768px) {
    .components-subtitle {
        margin-bottom: 50px;
        max-width:486px;
        margin-left: auto;
        margin-right: auto;
    }
}

.components-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width:768px) {
    .components-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
}
@media screen and (min-width:1200px) {
    .components-list {
        flex-direction: row;
        gap: 19px;
    }
}

.components-item {
    position: relative;
    overflow: hidden;

    min-height: 270px;
    border-radius: 15px;
    outline: 1px solid var(--c-accent);
}

@media screen and (min-width:768px) {
    .components-item {
       flex-basis: calc((100% - 32px) / 2);
    }
}
@media screen and (min-width:1200px) {
    .components-item {
        flex-basis: calc((100% - 3*19px) / 4);
    }
}
.components-item:nth-child(1) {
    background-color:var(--c-accent);
}
@media screen and (min-width:768px) and (max-width:1199.99px){
.components-item:nth-child(2) {
   order: 3;
}}
.components-item:nth-child(3) {
    background-color: var(--bgc-dark);}

@media screen and (min-width:768px) and (max-width:1199.99px){
    .components-item:nth-child(3) {
    order: 4;
}}
@media screen and (min-width:768px) and (max-width:1199.99px){
.components-item:nth-child(4) {
    order: 2;  
}}

.components-link {
    display: block;
    width: 100%;
    height: 100%;
}
.components-img {
    position: absolute;
    top: 28px;
    left: 58px;
    pointer-events: none;
}
@media screen and (max-width:374.99px) {
    .components-img {
        left:calc((100% - 224px) / 2);
    }  
}

@media screen and (min-width:1200px) {
    .components-img {
        left: 28px;
        width: 204px;
        min-height: 160px;
    }  
}

.components-item-text {
    position: absolute;
    left: 28px;
    bottom: 28px;

    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.even {
    color: var(--c-text-secondary);
}

/* OVERLAY */
.overlay-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 28px;
   
    background-color: var( --c-text-secondary);
    border-radius: 15px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width:1200px) {
    .overlay-section {
        padding: 20px;
    }  
}

.components-link:hover + .overlay-section,
.components-link:focus + .overlay-section {
    transform: translateY(0);
    z-index: 3;
}
.overlay-section-list{
    display: flex;
    gap: 6px;
}
.overlay-section-title{
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.overlay-section-button{
    margin-bottom: 14px;
    display: block;
    padding: 6px 16px;
    width: 100%;
    height: 24px;

    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}
.main-button{
    color: var(--c-text-secondary);
    background: var(--c-accent);
}
.second-button{
    color:var(--c-text-main);
    background-color:  var(--bgc-body);
    border:1px solid var(--c-accent);
  
}
.overlay-section-text{
    letter-spacing: -0.2px;
}
@media screen and (min-width:1200px) {
    .first-item {
        margin: 0; 
        -webkit-line-clamp: 9; 
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden;
    }  
}
@media screen and (min-width:1200px) {
    .last-item {
    margin: 0; 
    -webkit-line-clamp: 7; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    }  
}
