.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-logo-div{
    display: flex;
    align-items: center;
    gap: 4px;
}



.head-logo{
            font-family: 'Montserrat', 'Arial', sans-serif;
            src: url('../fonts/montserrat-medium.woff2') format('woff2');
            font-weight: 700;
            color: var(--c-text-main);
            display: block;
            line-height: 1.29;
            letter-spacing: -0.03em;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding-top: 20px;
            padding-bottom: 14px;
}

.head-logo-italic{
        font-style: italic;
}

.burger-button{
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.header-nav-list{
    display: none;
}

.header-icon-list{
    display: none;
}

.burger-svg{
    width: 28px;
    height: 28px;
    stroke: black;
}

.head-mobile-menu{
    width: 220px;
    height: 100%;
    max-height: 812px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 136px;
    z-index: 10;
    padding-right: 46px;
    padding-left: 50px;
    background-color: var(--bgc-dark);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.head-menu-close{
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-menu-close-buttom{
    stroke: var(--c-text-secondary);
    width: 28px;
    height: 28px;
    transition: scale ease-out 500ms, stroke ease-out 500ms 
}

.head-menu-close:hover>.head-menu-close-buttom{
    stroke: var(--c-accent);
    scale: 1.45;
}

.head-menu-list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}

.head-menu-item{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium.woff2') format('woff2');
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--c-text-secondary);
    transition: color ease-in 500ms, font-weight ease-in 500ms;
    position: relative;
}

.head-menu-item:hover>.head-menu-item::after,
.head-menu-item:focus>.head-menu-item::after{
    visibility: inherit;
}

.head-menu-item::after{
    content: "";
    color: var(--c-accent);
    width: 24px;
    height: 0px;
    border: 1px solid #FD9222;
    position: absolute;
    left: 0;
    bottom: -8px;
    pointer-events: none;
    /* visibility: hidden;
    transition: visibility 500ms; */
}

/* .head-menu-item::after:focus,
.head-menu-item::after:hover{
    visibility: visible;
} */

.head-menu-item:hover,
.head-menu-item:focus{
    color: var(--c-accent);
    font-weight: 600;
}

.header-menu-icon-list{
    display: flex;
    flex-direction: row;
    gap: 18px;
    left: 20px;
    bottom: 20px;
    position: absolute;
}

.header-menu-icon:hover .header-menu-icon-item,
.header-menu-icon:focus .header-menu-icon-item{
    stroke: var(--c-accent)
}

.header-menu-icon-item{
    fill: none;
    stroke: var(--c-text-secondary);
    transition: stroke ease-out 500ms;
}

@media screen and (min-width: 768px) {
.head-logo {
    text-shadow: none;
}

.burger-svg {
    width: 32px;
    height: 32px;
}

.head-logo{
    padding-top: 24px;
    padding-bottom: 24px;
}

.head-mobile-menu {
    width: 290px;
    max-height: 1024px;
    padding-top: 156px;
    padding-right: 81px;
    padding-left: 85px;

}

.header-menu-icon-item{
    width: 24px;
    height: 24px;
}

.head-menu-close-buttom {
    width: 32px;
    height: 32px;
}
}

@media screen and (min-width: 1200px) {

    .header-nav{
        display: flex;
        align-items: center;
    }

    .head-logo{
        margin-right: 188px;
        font-family: 'Montserrat';
        src: url('../fonts/montserrat-bold.woff2') format('woff2');
        font-weight: 700;
        line-height: 1.11;
        padding-bottom: 32px;
    }

    .page-header{
        align-items: center;
    }

    .burger-button{
        display: none;
    }

    .header-nav-list{
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 24px;
        padding-bottom: 32px;
    }

    .header-list-item{
                font-family: 'Montserrat';
                src: url('../fonts/montserrat-medium.woff2') format('woff2');
                font-weight: 500;
                color: var(--c-text-main);
    }

    .header-icon-list{
        margin-left: auto;
        display: flex;
        gap: 18px;
        align-items: center;
    }

        .header-icon-list-item{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        fill: transparent;
        stroke: var(--c-text-main);
        cursor: pointer;
        }

        .header-icon-list-item:hover,
        .header-icon-list-item:focus{
            stroke: var(--c-accent);
        }
    }